@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --primary-color: #b8b8b8;
  --lexicon-red: #d60000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: 'Lato', sans-serif;
}

.navbar {
  position: fixed;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.container {
  width: 95%;
  margin: auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.show-links {
  flex-direction: column;
  align-items: flex-start;
}

.navbar-brand {
  display: contents; /* Centralizes the image vertically */
}

.navbar-toggler {
  border: none;
  color: var(--lexicon-red);
  margin-top: -5px;
  background-color: transparent;
  cursor: pointer;
}

.collapse {
  display: none;
}

.navbar-collapse {
  flex-basis: 100%;
}

.navbar-collapse .navbar-nav {
  margin-top: 2rem;
  flex-direction: column;
  align-items: flex-start;
}

.navbar-nav {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: var(--lexicon-red);
}

.active {
  color: #00459e;
}

a:active {
  color: var(--danger-color);
}

main {
  height: 100vh;
  background-image: url('images/lex-kontor.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card {
  color: var(--primary-color);
  background-color: #fff;
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  width: 75%;
}

@media (min-width: 992px) {
  .collapse {
    display: block;
  }
  .navbar-toggler {
    display: none;
  }
  .navbar-collapse {
    flex-basis: unset;
  }
  .navbar-collapse .navbar-nav {
    margin-top: 0;
    flex-direction: row;
  }
  main {
    background-image: url('images/lex-dator.jpeg');
  }
  .card {
    width: 50%;
  }
}
